<mat-nav-list>
    <mat-list-item routerLinkActive="router-link-active"  [ngClass]="{'sidebar-menu': isExpanded}" (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon>menu</mat-icon>
        <span *ngIf="isExpanded">Menu</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/users']" routerLinkActive="active" [ngClass]="{'sidebar-menu': isExpanded}">
        <mat-icon mat-list-icon>people</mat-icon>
        <span *ngIf="isExpanded">Usuarios</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/evaluations']" routerLinkActive="active" [ngClass]="{'sidebar-menu': isExpanded}">
        <mat-icon mat-list-icon>summarize</mat-icon>
        <span *ngIf="isExpanded">Evaluaciones</span>
    </mat-list-item>
    <mat-list-item [ngClass]="{'sidebar-menu': isExpanded}">
        <mat-icon mat-list-icon>visibility</mat-icon>
        <span *ngIf="isExpanded">Realizar seguimiento</span>
    </mat-list-item>
</mat-nav-list>