mat-form-field {
  width: 100% !important;
}

.btn-center {
  text-align: center;
  display: block;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #026937 !important;
}

::ng-deep.mat-form-field-outline {
  color: #026937 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #026937 !important;
}

.card-title {
  font-family: "Roboto-Regular", serif;
  font-size: 30px;
  color: #026937;
}
