<h1 mat-dialog-title>Errores de validación</h1>
<div mat-dialog-content>
  <p>
    A continuación se presentan los errores que se obtuvieron en el cargue masivo de correos electrónicos:
  </p>
  <table class="table table-hover">
    <thead class="table-dark text-center">
      <tr>
        <th scope="col">Fila del documento</th>
        <th scope="col">Listado de errores</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let error of errors">
        <th scope="row" class="text-center">{{ error.row }}</th>
        <td>
          <ul>
              <li *ngFor="let errorDescription of error.errors">{{errorDescription}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions class="btn-center">
  <button mat-raised-button class="btn btn-danger" matDialogClose>
    Cerrar
  </button>
</div>
